.top_bg{
    background-image: url('../assets/images/bg_top.png');
    background-repeat: no-repeat;
    /* height: 110vh; */
    background-size: cover;
    background-color: #000000;
}

.navi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.logo{
    cursor: pointer;
}

.sub_navi{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: futura;
    font-weight: 600;
    font-size: 21px;
    cursor: pointer;
    color: white;
}

.nav_title{
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.nav_button{
    width: 240px;
    height: 48px;
    background-color:rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 40px;
    color: black;
    font-family: futura;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.2);;
}

.nav_button:hover{
    color: white;
    background-color:rgb(0, 0, 0);
    border: 3px solid rgb(255, 255, 255);
    box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.top_title{
    margin-top: 230px;
    font-size:78px;
    font-weight: 600;
    margin-left: 40px;
    font-family: futura;
    color:white;
}

.title_2{
    margin-top: 58px;
    font-size:38px;
    font-weight: bold;
    margin-left: 40px;
    font-family: futura;
    color:white;
}

.btn_group{
    margin-top: 50px;
    margin-left: 10px;
    padding-bottom: 80px;
    /* margin-bottom: 100px; */
}

.btn_top{
    margin-left: 30px;
    margin-right: 30px;
    height: 65px;
    width: 300px;
    font-size:25px;
    font-weight: 550;
    font-family: futura;
    background-color:rgb(255, 255, 255);
    /* border-width: 0px; */
    border: 3px solid rgb(0, 0, 0);
    border-radius: 100px;
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.2);;
    color: black;
    /* text-align: center; */
    cursor: pointer;
}

.btn_top:hover{
    background-color:rgb(0, 0, 0);
    border: 3px solid rgb(255, 255, 255);
    box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, 0.2);;
    color:white;
}

/* .bg_2{
    background-image: url('../assets/images/bg_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255));
} */

.bg_2{
    background:  url('../assets/images/bg_2.png');
    background-repeat: no-repeat;
    /* height: 110vh; */
    background-size: cover;
    /* background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255)); */
}


.title_3{
    text-align: center;
    font-family: futura;
    font-weight: bold;
    font-size: 58px;
    padding-top: 110px;
    padding-bottom: 110px;
    color:white;
}

.matrix{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height:500px;
}

.matrix_box{
    background: url('../assets/images/matrix_box.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* margin-right: 45px; */
    height:98%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 120px;
    padding-bottom: 40px;
}

@font-face {
    font-family: verminVibes;
    src:url('../assets/font/vermin_vibes.woff2') format('woff2'),
        url('../assets/font/vermin_vibes.woff') format('woff'),
        url('../assets/font/vermin_vibes.ttf') format('truetype');
}

.matrix_cd{
    font-family: verminVibes;
    font-size: 120px;
    color: rgb(126, 226, 187);

}

.matrix_right{
    width: 40%;
    /* margin-left: 20px; */
}

.matrix_title{
    font-family: futura;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
    color:white;

}

.matrix_text{
    font-family: futura;
    font-size: 23px;
    margin-top: 50px;
    color:white;

}

.NFTs{
    display: flex;
    /* align-items: center; */
    margin-top: 125px;
    padding-bottom: 60px;
}

.nft_left{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}

.nft{
    margin-left: 54px;
    margin-bottom: 40px;
}

.nft_right{
    width: 40%;
    margin-left: 30px;
    margin-top: 70px;
    color:white;
}

.nft_1{
    background:  url('../assets/images/M1.png');
    background-size: cover;
}
.nft_2{
    background:  url('../assets/images/W4.png');
    background-size: cover;
}
.nft_3{
    background:  url('../assets/images/M2.png');
    background-size: cover;
}
.nft_4{
    background:  url('../assets/images/M6.png');
    background-size: cover;
}
.nft_5{
    background:  url('../assets/images/W3.png');
    background-size: cover;
}
.nft_6{
    background:  url('../assets/images/M5.png');
    background-size: cover;
}

.vision_bg{
    background:  url('../assets/images/bg_vision.png');
    background-repeat: no-repeat;
    /* height: 110vh; */
    background-size: cover;
}

.vision_t1{
    text-align: center;
    font-family: futura;
    font-weight: bold;
    font-size: 58px;
    padding-top: 110px;
    padding-bottom: 80px;
    color:white;

}

.vision_t2{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    font-family: futura;
    margin-bottom: 30px;
    /* margin-bottom: 10px; */
    color:white;
}

.vision_text{
    margin-top: 15px;
    font-family: futura;
    text-align: center;
    font-weight: 500;
    font-size: x-large;
    color:rgb(163, 163, 163);
}

.vision_box{
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.audit_bg{
    background: linear-gradient(to bottom, rgb(33, 33, 33), rgb(0, 0, 0));

}

.audit_t1{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    font-family: futura;
    margin-bottom: 30px;
    padding-top: 80px;
    padding-bottom: 40px;
    color:white;
}

.audit_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.audit_text{
    text-decoration: underline;
    font-family: futura;
    font-size: x-large;
    margin-left: 30px;
    cursor: pointer;
    color:white;
}

.sonic_logo{
    display: block;
    margin: 0 auto;
    cursor: pointer;;
}

.audit_bottom{
    padding-bottom: 80px;
}

.footer_bg{
    background: rgb(32, 32, 32);
    font-family: futura;
}

.columns{
    display: flex;
    justify-content: space-between;
}

.footer_l{
    padding-top: 50px;
    color:rgb(163, 163, 163);
    width: 40%;
    padding-left: 40px;
}

.footer_logo{
    margin-bottom: 20px;
}

.footer_text{
    font-size: 17px;
}

.footer_title{
    padding-top: 45px;
    font-size: 22px;
    color:white;
}

.footer_m{
    margin-right: 340px;
}

.footer_column{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 17px;
    color:rgb(163, 163, 163);
    height:170px;
    justify-content: space-around;
    cursor: pointer;
}

.footer_r{
    margin-right: 50px;
}

.copyright{
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}
